.glitch-text::before,
.glitch-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  color: #f00;
  z-index: -1;
}

.glitch-text::after {
  color: #0ff;
  z-index: -2;
  left: 2px;
  top: 2px;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, -2px);
  }
  60% {
    transform: translate(-1px, 1px);
  }
  80% {
    transform: translate(1px, -1px);
  }
  100% {
    transform: translate(0);
  }
}

.glitch-text {
  animation: glitch 1s infinite;
}
.glitch-text::before {
  animation: glitch 1s infinite reverse;
}
.glitch-text::after {
  animation: glitch 1s infinite alternate;
}

